<!--<header  class="height:20%;">
<h1>
  {{title}}
</h1>
</header>-->
 <article>
  <header class="wcHeader" >
    <h1>{{title}}</h1>
  </header>
</article> 
<article>
  <body>
    <div style="width:100%;"> 
      <table>
        <tr>
        <td  class="wcLeftPanel">
        <div class="wcLeftDivPanel" > 
          <a href="/" >Login</a><br>
          <a href="/" >Logout</a>

        </div>
        <td>
        <td class="wcBodycontent">
        
        </td>
        </tr>
       </table>
    
    </div>
  </body>
</article>
 